.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  font-size: 10px;
  line-height: 14px;
  gap: 10px;
  background-color: $color_grey;

  &__item {
    text-decoration: none;
    color: $color_dark;
    transition: color linear 0.2s;
  }
}

@media screen and (min-width: $breakpoint_tablet) {
  .menu {
    padding: 16px 0;
    font-size: 12px;
    gap: 20px;
  }
}

@media screen and (min-width: $breakpoint_laptop) {
  .menu {
    font-size: 14px;
    line-height: 16px;
    gap: 30px;

    &__item:hover {
      color: $color_accent;
      transition: color linear 0.2s;
    }
  }
}
