// Глобальные переменные
$color_grey: #efefef;
$color_dark: #333333;
$color_accent: #66c05d;
$breakpoint_mobile: 320px;
$breakpoint_tablet: 426px;
$breakpoint_laptop: 1025px;
$wrapper_width: 80%;
$wrapper_max_width: 1110px;
$card_width: 255px;

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $breakpoint_mobile;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}
