.messengers {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 10px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color_accent;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  &__logo {
    &_youtube {
      background: url(../../images/youtube-logo.svg) no-repeat center/contain;
      width: 22px;
      height: 15px;
    }

    &_vk {
      background: url(../../images/vk-logo.svg) no-repeat center/contain;
      width: 28px;
      height: 15px;
    }

    &_facebook {
      background: url(../../images/facebook-logo.svg) no-repeat center/contain;
      width: 20px;
      height: 20px;
    }

    &_instagram {
      background: url(../../images/instagram-logo.svg) no-repeat center/contain;
      width: 22px;
      height: 22px;
    }
  }
}

@media screen and (min-width: $breakpoint_laptop) {
  .messengers {
    gap: 20px;

    &__link {
      width: 45px;
      height: 45px;
    }
  }
}
